/*
======= PORTFOLIO CSS =======
color palette:
wax flower (pink) #DA9094
wistful (blue vio) #AEA8D3

whiteish #f2f2f2
marilyn orange #DEAC9E
yikes orange #EE7E8C
lighter black #171515



.backdrop {
  /*background-position: center;
  background-image: url(https://s-media-cache-ak0.pinimg.com/564x/95/54/d6/9554d63ae1ac8265b10f3f6db99dd8f6.jpg);
  background-repeat: repeat;
  border-top: 40px solid black;

}

.jm {
  border: solid #431B1C 3px;
  background-color:#DEAC9E;
  font-weight: bolder;
  border-style:groove;
} */
